.main {
    background-color: gray;
    width: 100vw;
    height: 100vh;
}

.top {
    background-color: white;
    width: 70vw;
    height: 90vh;
    margin: 0 15vw;
}

.bottom {
    background-color: black;
    height: 10vh;
    width: 70vw;
    margin: 0 15vw;
}